@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xm: 400px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1366px;
  --breakpoint-3xl: 1536px;
  --breakpoint-4xl: 1980px;

  --container-xm: 400px;
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1366px;
  --container-3xl: 1536px;
  --container-4xl: 1980px;

  --color-brand-300: #996dff;
  --color-brand-500: #8257e6;

  --color-primary-100: #b4daff;
  --color-primary-300: #0068e2;
  --color-primary-500: #0054b6;
  --color-primary-700: #476fe6;

  --color-secondary-100: #fdb713;
  --color-secondary-500: #f5821f;
  --color-secondary-700: #f05a22;
  --color-secondary-900: #ef402f;

  --color-info-500: #e2e3e5;
  --color-info-700: #41464b;

  --color-success-500: #d1e7dd;
  --color-success-700: #0f5132;

  --color-error-500: #f8d7da;
  --color-error-600: #bf2e3a;
  --color-error-700: #842029;

  --color-warning-500: #fff3cd;
  --color-warning-600: #664d03;

  --color-white: #fff;
  --color-black: #000;

  --color-dark-400: #18181b;
  --color-dark-500: #09090b;
  --color-dark-600: #1f2937;
  --color-dark-700: #0f1926;

  --color-odd-500: #f2f2f2;

  --width-inherit: inherit;

  @keyframes enter {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes leave {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  --animate-enter: enter 200ms ease-out;
  --animate-leave: leave 150ms ease-in forwards;
}

* {
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem; /* Height Header */
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1.9rem;
  @apply bg-white dark:bg-dark-500 text-black dark:text-white;
}

pre {
  color: #fff;
  display: block;
  padding: 30px;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(15 25 38);
  margin: 10px 0;
}

.highlight {
  color: #fff;
  background-color: rgb(15 25 38);
  padding: 2px;
  border-radius: 5px;
}

/* Main Level */
ul {
  margin-left: 10px;
}

/* Second Level */
ul ul {
  margin-left: 15px;
}

/* Third Level */
ul ul ul {
  margin-left: 20px;
}

button {
  cursor: pointer;
}